---
// src/pages/about.astro
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>About</h1>
  <p>This site documents significant climate-related events with data sourced from news reports, social media, and public datasets.</p>
  <p>Created by Felipe. Not affiliated with any institution. Just trying to make sense of the chaos.</p>
</Layout>
