---
import Layout from '../layouts/Layout.astro';
import { getEvents } from '../lib/getEvents.ts';

// Fetch all events sorted by start date
const events = await getEvents({
  sortField: 'Start Date',
  sortDirection: 'desc'
});
---

<Layout>
  <h1>All Events</h1>

  <!-- List full set of events -->
  <ul>
    {events.map(event => (
      <li><a href={`/${event.slug}`}>{event.title}</a></li>
    ))}
  </ul>
</Layout>
