---
// src/pages/browse.astro
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>All Events</h1>
  <ul>
    <li>Example Event: Rio Flood - July 2025</li>
    <li>Example Event: Pakistan Heatwave - May 2025</li>
    <!-- Replace with loop once Airtable is live -->
  </ul>
</Layout>
