---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>More Rain</h1>
  <p>Tracking floods, storms, and other major climate events around the world.</p>

  <a href="/browse">Browse All Events</a>
</Layout>
