---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <nav class="navbar" aria-label="Site navigation">
      <div class="container header-content">
        <h1 class="profile-name">More Rain</h1>
	<h2 class="tagline">Tracking Climate Catastrophes</h2>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/events">All Events</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
		<slot />
    <footer>
      <div class="container">
        <ul>
  	  <li><a href="mailto:silvacdp@gmail.com?subject=Suggestion%20of%20Event">Suggest an Event</a>
          <li>&copy; {new Date().getFullYear()}
        </ul>
      </div>
    </footer>
	</body>
</html>
<style is:global>
	:root {
		/*hex color values*/	
  		--black: #000000ff;
  		--blue: #14213dff;
  		--orange: #fca311ff;
  		--platinum: #e5e5e5ff;
  		--white: #ffffffff;

		/*rbg color values*/
		--blackrgb: 0, 0, 0;
		--bluergb: 20, 33, 61;
		--orangergb: 252, 163, 17;
		--platinumrgb: 229, 229, 229;
		--whitergb: 255, 255, 255;

		}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
    color: var(--white);
	}
  
  .profile-name {
    font-size: 3rem; /* size of title in header */
    font-weight: bold;
    text-align: left;
  }

.tagline {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	color: var(--platinum);
	margin bottom: 0.5rem;
	}
  body {
    background-color: var(--blue);
  }

  nav {
    /* width: 800px; */
    max-width: calc(100% - 2rem);
    margin: 0 auto;
  }

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

  /* Navigation Container */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(var(--whitergb), 0.5);
  margin-bottom: 1rem;
}

.navbar li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: rgba(var(--platinumrgb), 0.25);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.container {
  width: 800px;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar svg {
  width: 1.5em;
  height: 1.5em;
}

a {
  color: rgb(var(--orangergb));
  font-weight: 500;
  text-decoration: none;
}

footer {
  margin-top: 2rem;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(var(--whitergb), 0.5);
  background:rgba(var(--whitergb), 0.1);
  font-size: 0.9rem;
  color: rgb(var(--whitergb));
  text-align: center;
}

footer ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

footer a {
  color: rgb(var(--orangergb));
  text-decoration: underline;
}

footer li {
  padding-bottom: 0.25rem;
}
</style>
